header {
    display: flex;
    background-color: bisque;
    color: #000;
    padding: 20px 50px;
}
.logo {
    font-size: 30px;
    width:50%;
    text-align: center;
}
.navbar {
    width: 50%;
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    float: left;
    padding: 0 20px 20px 0;
}
.navbar ul li a {
    text-decoration: none;
}